<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <title>Prueba 1 - AngularJS</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <style>
            body{
                background-color: gainsboro;
            }
            
            .sidebar{
                background-color: dodgerblue;
            }
            .content{
                background-color: #cacaca;
            }
            
        </style>
    </head>
    <body ng-controller="myCtrl">
        
        <div class="container">
            
            <div class="row">
                
                <div class="col-sm-3 sidebar">
                    <h1>Category</h1>
                    <select ng-model="selectedCategory">
                        <option ng-repeat="value in categories" value="{{value}}" ng-click="setCurrentCategory(selectedCategory)">{{value}}</option>
                    </select>
                </div>

                <div class="col-sm-9 content">
                    <h1>Results: <i>'{{isCurrentCategory()}}'</i></h1>
                    <ul>
                        <li ng-repeat="user in users | filter: {category: currentCategory}">
                            <p>{{user.name}} {{user.apellido}}</p>
                        </li>
                    </ul>
                </div>
            
            </div><!-- row -->    
                
        </div><!-- container -->
        
<script type="text/javascript" src="lib/angular.js"></script>
<script>
//https://www.w3schools.com/angular/angular_select.asp
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope){
    $scope.categories = ["Informatica","Mecanica","Moda"];
    $scope.users = [
        {id:1,name:"Moisés",apellido:"Aguilar",category:"Informatica"},
        {id:2,name:"Emil",apellido:"Sorel",category:"Moda"},
        {id:3,name:"Tobias",apellido:"Beecher",category:"Mecanica"},
        {id:4,name:"Linus",apellido:"Torvals",category:"Informatica"}
    ];
    
    $scope.currentCategory = 'Informatica';
    
    $scope.setCurrentCategory = function(category){
        $scope.currentCategory = category;
        //alert(category);
    }
    
    $scope.isCurrentCategory = function(){
        return $scope.currentCategory;
    }
    
});
</script>

    </body>
</html>

    