<!DOCTYPE html>
<html ng-app>
    <head>
        <title>Prueba 1 - AngularJS</title>
        <script type="text/javascript" src="lib/angular.js"></script>
    </head>
    <body>
        
        <select ng-model="nombre">
            <option>Opcion1</option>
            <option>Opcion2</option>
            <option>Opcion3</option>
            <option>Opcion4</option>
        </select>
        
        <!-- <input type="text" ng-model="nombre" /> -->
        <h1>{{nombre}}</h1>
        
    </body>
</html>
<script>
//https://www.w3schools.com/angular/angular_select.asp    
</script>
    