<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <title>Prueba 1 - AngularJS</title>
        
        <meta charset="UTF-8">
        <style>
            body{
                text-align: center;
            }
        </style>
    </head>
    <body ng-controller="myCtrl">
        
        <select ng-model="nombre">
            <option>Opcion1</option>
            <option>Opcion2</option>
            <option>Opcion3</option>
            <option>Opcion4</option>
        </select>
        
        <!-- <input type="text" ng-model="nombre" /> -->
        <h1>{{nombre}}</h1>
        
        <div>
            <select ng-model="selectedCategory">
                <option ng-repeat="value in categories" value="{{value}}" ng-click="setCurrentCategory(selectedCategory)">{{value}}</option>
            </select>
        <h1>Current Cateogry: {{isCurrentCategory()}}</h1>
        </div>
        
        <div>
            <select ng-model="selectedUser" ng-options="value.name for value in users"></select>
            <h1>{{selectedUser.name}} {{selectedUser.apellido}}</h1>
        </div>
        
        <div>
            <ul>
                <li ng-repeat="user in users | filter: {category: currentCategory}">
                    <p>{{user.name}} {{user.apellido}}</p>
                </li>
            </ul>
        </div>
        
<script type="text/javascript" src="lib/angular.js"></script>
<script>
//https://www.w3schools.com/angular/angular_select.asp
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope){
    $scope.categories = ["Informatica","Mecanica","Moda"];
    $scope.users = [
        {id:1,name:"Moisés",apellido:"Aguilar",category:"Informatica"},
        {id:2,name:"Emil",apellido:"Sorel",category:"Moda"},
        {id:3,name:"Tobias",apellido:"Beecher",category:"Mecanica"},
        {id:4,name:"Linus",apellido:"Torvals",category:"Informatica"}
    ];
    
    $scope.currentCategory = 'Informatica';
    
    $scope.setCurrentCategory = function(category){
        $scope.currentCategory = category;
        //alert(category);
    }
    
    $scope.isCurrentCategory = function(){
        return $scope.currentCategory;
    }
    
});
</script>

    </body>
</html>

    