<!DOCTYPE html>
<!--
Titulo: Validar Tarjeta MasterCard
Autor: Moisés Aguilar Miranda
Fecha: 26/02/2018
-->
<html ng-app="ValidarTarjetasCredito">
    <head>
        <title>Validar Master Card</title>
        <!-- Hoja de estilos Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
        <!-- Codificación de caracteres -->
        <meta charset="UTF-8">
        <!-- Viewport -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Libreria AngularJS -->
        <script type="text/javascript" src="lib/angular.js"></script>
        <!-- Libreria JQuery -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <!-- Libreria Tether -->
        <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
        <!-- Libreria Bootstrap -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
        <style>
            body{
                background-color: #ececec;
                text-align: center;
            }
            div{
                padding-bottom: 30px;
            }
            img{
                width: 200px;
                border-radius: 8px;
                box-shadow: 2px 2px 6px black;
            }
            #contenedor{
                background-color: dodgerblue;
                box-shadow: 5px 5px 5px gray;
                margin-top: 30px;
                border-radius: 18px;
            }
            #calculadora input[type=text]{
                width: 300px;
            }
            .disabled{
                opacity: 0.5;
            }
            .hidden{
                visibility: hidden;
            }
        </style>
    </head>
    <body ng-controller="CtrlValMC">
        <div id="contenedor" class="container">
            <div class="row">
                
                <div id="titulo" class="col-sm-12">
                    <h1>Validador de tarjetas de crédito</h1>
                </div>
                <div id="descripcion" class="col-sm-12">
                    <label>Selecciona el tipo de tarjeta:</label>
                </div>
                <div id="logo_visa" class="col-sm-6 disabled">
                    <img src="img/visa_logo.png">
                </div>
                <div id="logo_mastercard" class="col-sm-6  disabled">
                    <img src="img/mastercard_logo.png">
                </div>
                <div id="calculadora" class="col-sm-12 hidden">
                    <label>Introduce el número de tarjeta de crédito: 4273670601881339</label><br>
                    <input type="text" ng-model="CardNumber" ng-change="setCardNumber(CardNumber)" name="CardNumber" id="CardNumber" maxlength="16"><br>
                    <label>{{CardNumber}}</label>
                    <!--
                    <option ng-switch="ValidarTarjeta(CardNumber)">
                        <input type="radio" id="radio_visa" name="radio_visa" ng-model="type" value="Visa">Visa<br> 
                        <input type="radio" id="radio_mastercard" name="radio_mastercard" ng-model="type" value="MasterCard">MasterCard<br> 
                    </option>
                    -->
                    <!--<label>{{type}}</label>-->
                    <label>{{mensaje}}</label>
                </div>
                
            </div><!-- row -->
        </div><!-- container -->
        
    </body>
</html>
<script>
    
$( document ).ready(function() {
    
    //Evento Click en Imagen Visa
    $("#logo_visa").on("click", function(){
        if($(this).hasClass("disabled")){
            $(this).removeClass("disabled");
        }
        $("#logo_mastercard").addClass("disabled");
        //Mostramos el formulario de la calculadora
        $("#calculadora").removeClass("hidden");
        //Seleccionamos el radio button oculto para visa
        $("#radio_visa").prop("checked",true);
        $("#radio_mastercard").prop("checked",false);
        
        var CardNumber = $("#CardNumber").val();
        
        angular.element($('#contenedor')).scope().setVisa();
        angular.element($('#contenedor')).scope().ValidarTarjeta(CardNumber);
        
    });
    //Evento Click en Imagen Mastercard
    $("#logo_mastercard").on("click", function(){
        if($(this).hasClass("disabled")){
            $(this).removeClass("disabled");
        }
        $("#logo_visa").addClass("disabled");
        //Mostramos el formulario de la calculadora
        $("#calculadora").removeClass("hidden");
        //Seleccionamos el radio button oculto para mastercard
        $("#radio_mastercard").prop("checked",true);
        $("#radio_visa").prop("checked",false);
        
        var CardNumber = $("#CardNumber").val();
        
        angular.element($('#contenedor')).scope().setMasterCard();
        angular.element($('#contenedor')).scope().ValidarTarjeta(CardNumber);
        
    });
});

</script>
<script>
    
    var app = angular.module('ValidarTarjetasCredito',[]);
    app.controller('CtrlValMC', function($scope){
        
        $scope.Visa = /^4\d{3}-?\d{4}-?\d{4}-?\d{4}$/;  //Visa
        $scope.Mastercard = /^5[1-5]\d{2}-?\d{4}-?\d{4}-?\d{4}$/;  //Mastercard
        $scope.mensaje = "";
        $scope.Type = "";
        $scope.CardNumber = "";
        
        $scope.setVisa = function(){
            $scope.Type = "Visa";
        }
        
        $scope.setMasterCard = function(){
            $scope.Type = "MasterCard";
        }
        
        /*
        $scope.setCardNumber = function(CardNumber){
            alert(CardNumber);
            $scope.CardNumber = CardNumber;
            $scope.ValidarTarjeta();
        }
        */
        $scope.ValidarTarjeta = function(CardNumber){
            
            var Type = $scope.Type;
            //var CardNumber = $scope.CardNumber;
            var ExpReg = "";
            
            
            if(Type==="Visa"){
                ExpReg = $scope.Visa;
            }else if(Type==="MasterCard"){
                ExpReg = $scope.Mastercard;
            }
            
            //alert("Cardnumber: " + CardNumber);
            
            if (!CardNumber.match(ExpReg)){
                $scope.mensaje = "No es un número de "+ Type +" correcto";
                //alert($scope.mensaje);
            }else{
                $scope.mensaje = "Número de "+ Type +" correcto";
                //alert($scope.mensaje);
            }
            
        }
        
    });
</script>
