<!DOCTYPE html>
<html ng-app="Bookmarks">
<head>
    <title>Installation - Angular JS</title>
</head>
<body ng-controller="MainController">
    <div>
        <h1>Welcome {{name}}</h1>
        <p><input ng-model="name" type="text" /></p>
        <ul>
            <li ng-repeat="category in categories">{{category}}</li>
        </ul>
    </div>
    <script type="text/javascript" src="lib/angular.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</body>
</html>